* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica;
    display: flex;
    height: 100vh;
}

img {
    justify-content: flex-start;
    
    
    background-color: darkblue;
}

.nav {
    padding: 1rem;
    width: 20%;

    background-color: darkblue;
}

ul {
    padding: 0;
}

 h2, .li {
     color: white;
     padding: 1rem;
     font-size: 1.5rem;
 }

 h2 {
     padding-bottom: 0;
     font-size: 2rem;
 }

 li {
     font-weight: bold;
 }


article {
    padding: 3rem;
    width: 75%;

}

h1 {
    font-size: 2.5rem;
    padding-left: 3rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.65rem;
    text-align: justify;
    padding-left: 3rem;
    padding-right: 7rem;
}