* {
    box-sizing: border-box;
}

html {
    margin: 0;
    background-color: darkgray;
    font-family: Helvetica;
    font-size: 1.25rem;
}

body {
    margin: 0;
}

.chat {
    background-color: red;
}

.conversation-chat {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.remote {
    margin: 0.5rem;
    padding: 1rem;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.local {
    margin: 0.5rem;
    padding: 1rem;
    background-color: lightgray;
    border-radius: 5px;
   
}

img {
    border-radius: 5px;
}