* {
  box-sizing: border-box;
}

p, h4 {
  margin: 0
}
html {
  font-family: Helvetica;
  font-size: 18px;
}

.container {
  display: flex;
  margin-top: .5rem;
  // justify-content: space-between;
  flex-wrap: wrap;
  font-size: .8rem;
}

.user-card-container {
  margin: 5px;
  background-color: lightblue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  width: 175px;
  padding: 5px;
}

.selected_user {
  background-color: lightgreen;
}

