$red: #ff0000;
 
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.875em;
}

body {
    margin: 0;
    padding: 0 2em;
    justify-content: center;
    flex-direction:column;   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}






/* h1 {
    color: $red;
}
#box1 {
    border: 1px solid gray;
    margin: 2rem;
    padding: 1rem;
    background-color: lightblue;
}

#box2 {
    border: 1px solid gray;
    margin: 2rem;
    padding: 1rem;
    background-color: lightgreen;
}

#box3 {
    border: 1px solid gray;
    margin: 2rem;
    padding: 1rem;
    background-color: pink;
    color: red;
}

#box4 {
    border: 1px solid red;
    margin: 2rem;
    padding: 1rem;
    background-color: brown;
    color: darkorange;
}

#my-btn {
    margin: 1rem;
    padding: 1rem;
    background-color: orange;
    color: blue;
    width: auto;
}

#my-btn2 {
    display: block;
    padding: 1rem;
    margin: 1rem;
    background-color: black;
    color: white;
    width: auto;
} */